@{
    ViewData["Title"] = "О нас";
}

   
<section id="aboutUs"  class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="aboutUs-card col-lg-6 col-md-12">
                <img src="~/image/iam.svg" alt="I'am" width="300" height="300" />
                <h2 class="text-center">Я Даниял Идрисов</h2>
            </div>

            <div class="aboutUs-text col-lg-6 col-md-12 d-flex align-items-center">
                <p class="text-center ">Задача организации, в особенности же реализация намеченного плана развития позволяет выполнить важнейшие задания по разработке форм воздействия. Практический опыт показывает, что постоянное информационно-техническое обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы масштабного изменения ряда параметров. Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT в значительной степени обуславливает создание существующих финансовых и административных условий.</p>
            </div>
        </div>
    </div>
</section>