@{
    ViewData["Title"] = "Категории";
}

   
<section id="category"  class="d-flex align-items-center justify-content-center"> 
    <div class="container">
         <div class="row justify-content-center">
          <h2 class="text-center">
            Категории товаров
          </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 wrap_images">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/vegetablesandfruits.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Овощи и фрукты</p>
                  </div>
                </div>
                </a>
            </div>

             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/meat.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Мясо</p>
                  </div>
                </div>
                </a>
            </div>

             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/seafood.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Морепродукты</p>
                  </div>
                </div>
                </a>
            </div>

             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/dairy.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Молочная продукция</p>
                  </div>
                </div>
                </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/beverages.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Напитки</p>
                  </div>
                </div>
                </a>
            </div>


             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/tea.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Чай</p>
                  </div>
                </div>
                </a>
            </div>

             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem;">
                <img src="~/image/coffe.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Кофе</p>
                  </div>
                </div>
                </a>
            </div>

             <div class="col-xl-3 col-lg-4 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                <div class="card" style="width: 18rem; ">
                <img src="~/image/sweets.svg" class="card-img-top" alt="..." width="300" height="300">
                  <div class="card-body">
                    <p class="card-text">Сладости</p>
                  </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>